

.trine {
    text-align: center;
    color: rgb(168, 81, 168);
    background-color: rgb(170, 218, 218);
    border: 2px solid black;
    padding: 30px;
    width: 400 px;
    grid-template-columns: 1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
}

.interesser {
    color: blue;
    font-size: 25px;
}

.top {
    grid-area: right;
    color: rgb(0, 0, 0);
    border: 2px solid;
    margin: 10px;
    background-color: bisque;
    width: 400px;
    padding: 20px;
}

.middle {
    grid-area: left;
    color: rgb(0, 0, 0);
    border: 2px solid;
    margin: 10px;
    background-color: bisque;
}

.bottom {
    color: rgb(0, 0, 0);
    border: 2px solid;
    margin: 10px;
    background-color: bisque;
}

button {
    background-color: black;
    color: rgb(75, 192, 60);
    height: 30px;
    border: 3px solid rgb(75, 192, 60);
}

.container {
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 40px;
}