.trine {
  text-align: center;
  color: rgb(168, 81, 168);
  background-color: rgb(170, 218, 218);
  border: 2px solid black;
  padding: 30px;
  width: 400 px;
  height: 80px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 60px;
}

.interesser {
  color: blue;
  font-size: 25px;
}

.top {
  color: rgb(0, 0, 0);
  border: 2px solid;
  margin: 10px;
  background-color: bisque;
  width: 400px;
  padding: 15px;
}

.middle {
  color: rgb(0, 0, 0);
  border: 2px solid;
  margin: 10px;
  background-color: bisque;
  padding: 15px;
}

.bottom {
  color: rgb(0, 0, 0);
  border: 2px solid;
  margin: 10px;
  background-color: bisque;
  padding: 15px;
}

button {
  background-color: black;
  color: rgb(75, 192, 60);
  height: 40px;
  width: 200px;
  border: 3px solid rgb(75, 192, 60);
  margin: 10px;
}

.image{
  border: ;
}

.container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.gather {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
